/* Add custom CSS here. */
.author-images {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 50px;
}

.author-card {
  flex: 1 1;
  position: relative;
}

img:not([class]) {
  width: 100%;
  height: auto;
}

button {
  transition-duration: 0.4s;
  background-color: #fcfcfc;
  border-radius: 10px;
}

button:hover {
  background-color: #526d7a;
  color: white;
}